.header {
  width: 100vw;
  height: 20vh;
  margin-top: 1vh;
  padding-top: 5vh;
}
.title {
  background: transparent url("../Assets/iSHOP\ Logo.svg") 0% 0% no-repeat;
  margin: 0 auto 0;
  width: 122px;
  height: 32px;
}
.carticon {
  position: relative;
  right: -92%;
  top: -25px;
  color: #ff4858 !important;
}
.navbar {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto 0;
  margin-top: 4vh;
}

.activenavitem {
  color: #2e90e5;
  text-decoration: none;
  text-align: center;
  font: normal normal 600 16px/17px Proxima Nova;
  letter-spacing: 0.35px;
}
.navitem {
  text-decoration: none;
  text-align: center;
  font: normal normal 600 16px/17px Proxima Nova;
  letter-spacing: 0.35px;
  color: #22262a;
}
.StoreCategories {
  width: 60%;
  height: 30vh;
  margin: 0 auto 0;
  padding-top: 10px;
  display: flex;
  background-color: #ffffff;
  z-index: 1;
  position: relative;
  box-shadow: 0px 30px 30px #0000001a;
  border-radius: 0px 0px 4px 4px;
}

.StoreCategoriesitem {
  width: 20vw;
  text-align: center;
  font: normal normal normal 14px Proxima Nova;

  color: #262626;
}
